
body {
    padding-top: 90px;
}

.container-fluid.main {
    background: url('../img/typewriter.jpeg');
    background-size: cover;
    height: 1000px;
  }



/* Color Theme Swatches in Hex */
.Dark---Dark-Red---Red---Light-Red---Cream-1-hex { color: #F2D7B6; }
.Dark---Dark-Red---Red---Light-Red---Cream-2-hex { color: #D99177; }
.Dark---Dark-Red---Red---Light-Red---Cream-3-hex { color: #8C1C03; }
.Dark---Dark-Red---Red---Light-Red---Cream-4-hex { color: #400601; }
.Dark---Dark-Red---Red---Light-Red---Cream-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Dark---Dark-Red---Red---Light-Red---Cream-1-rgba { color: rgba(242, 215, 182, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-2-rgba { color: rgba(217, 145, 119, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-3-rgba { color: rgba(140, 28, 3, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-4-rgba { color: rgba(64, 6, 1, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.Dark---Dark-Red---Red---Light-Red---Cream-1-hsla { color: hsla(33, 69, 83, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-2-hsla { color: hsla(15, 56, 65, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-3-hsla { color: hsla(10, 95, 28, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-4-hsla { color: hsla(4, 96, 12, 1); }
.Dark---Dark-Red---Red---Light-Red---Cream-5-hsla { color: hsla(0, 0, 5, 1); }
